// Navigation Styles here

.nav-container {
  // .flex("flex", "row", "wrap");
  // justify-content: space-between;
  display: flex;
  flex-flow: row-reverse nowrap;
  .justify(space-between);
  align-items: baseline;
  width: 100%;
  border-bottom: 2px dashed @navigation-border;
  padding: 20px 660px;
  margin: 0 auto;

  @media @mobile {
    flex-flow: column-reverse nowrap;
    align-items: center;
    padding: 0 0;
    padding-top: 15px;

    h1 {
      font-size: 3.5rem;
    }
  }

  .nav-wrap {
    @media @mobile {
      padding: 10px;
    }
    a {
      font-size: 1.6rem;
      text-decoration: none;
      color: black;
      padding: 10px;

      @media @mobile {
        padding: 30px;
      }
    }
  }
}
